.bg {
  width: 200px;

  align-items: center;
  justify-content: center;
  padding: 38px 0 58px;
}
.title {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.a {
  font-weight: bold;
}
.b {
  font-size: 8pt;
}
.ranker {
  padding: 5px 5px 5px 5px;
  align-items: center;
  box-shadow: var(--box-shadow);
}
