.title h1 {
  text-decoration: underline;
}
.head {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  line-height: 1.43;
  color: #7b858e;
  margin-top: 8px;
  margin-bottom: 30px;
}

.body {
  font-weight: 400;
  font-size: 20px;
  /* line-height: ; */
  color: #1e2022;
  margin-top: 18px !important;
}

.errorMessage {
  color: red;
}
