.matchList {
  margin-top: 20px;
}

.count {
  margin: 20px 0;
  font-size: 14px;
  font-weight: 300;
  color: #878787;
}
.answers {
  margin-bottom: 10px;
}
.emptyList {
  margin: 40px auto;
}
.profileheader {
  font-size: 20pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 120px;
  background-size: 840px;
  background-image: url("https://www.motorgraph.com/news/photo/202102/27140_86146_5436.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.profileImg {
  width: 220px;
  margin: auto;

  border: #000000;
  border-style: solid;
  background-color: white;
  top: 50%;
}
.matchItem {
  display: flex;
  align-items: center;
  padding: 19px 30px 20px;
}

.matchheader {
  border: #ffffff;
  border-top: #000000;

  border-style: solid;
  display: flex;
  flex-direction: row;
  text-align: center;

  /* justify-content: space-around; */
}

.matchdetail {
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  border: #ffffff;

  border-bottom: #494949;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  /* justify-content: space-around; */
}

.matchdetailr {
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  border: #ffffff;
  border-bottom: #494949;
  background-color: rgb(250, 94, 229);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  /* justify-content: space-around; */
}
.matchdetailb {
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  border: #ffffff;
  border-bottom: #494949;
  background-color: rgb(0, 255, 242);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  /* justify-content: space-around; */
}
.rank {
  width: 200px;
}
.nick {
  width: 300px;
}
.nick2 {
  width: 300px;
}
.nick2:hover {
  text-decoration: underline;
  cursor: pointer;
}
.rec {
  width: 300px;
}
.kart {
  width: 200px;
}
.matchItem .minfo {
  flex: 0 1 100px;
  width: 200px;
  text-align: center;
}

.matchItem .mrank {
  flex: 0 1 130px;
  text-align: center;
}

.matchItem .mtrack {
  flex: 0 1 280px;
  text-align: center;
}

.matchItem .mrec {
  flex: 0 1 150px;
  text-align: center;
}

.matchItem .mdate {
  flex: 0 1 100px;
  text-align: center;
}

.matchItem .title {
  margin: 0 auto 10px;
  font-size: 14px;
  font-weight: 500;
  color: #494949;
}

.matchItem .title a {
  font-family: var(--notosans);
}

.matchItem .title .count {
  margin-left: 5px;
  color: #fe92ab;
}

.matchItem .date {
  margin: 0;
  font-size: 12px;
  color: #c4c4c4;
}

.matchItem .writer {
  flex: none;
  margin-left: 30px;
}
